;ProMap CFG file
;By Ydiss
;Each Element is marked so you know what type it is
;Closet Blocker = Item to prevent survivors entering a "cheap" location to hold off an attack or crescendo
;Route Blocker = Items placed to force survivors to go down a longer or more dangerous route, or just to stop them taking the fastest route
;LOS Blocker = Blocks Line of Sight so the infected players have more locations to spawn from
;Exploit Blocker = Similar to Closet Blocker but this stops players going ways they really shouldn't.

filter:
{
"classname" "func_playerinfected_clip"
}
add:
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 160"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 171"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 182"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 193"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 204"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2800 551 215"
"angles" "0 90 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}

{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 160"
"angles" "0 87 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 171"
"angles" "0 15 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 182"
"angles" "0 -4 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 193"
"angles" "0 -45 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 204"
"angles" "0 56 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "-2770 551 215"
"angles" "0 15 0"
"model" "models/props/cs_militia/caseofbeer01.mdl"
"classname" "prop_dynamic"
}