;ProMap CFG file
;By Ydiss
;Each Element is marked so you know what type it is
;Closet Blocker = Item to prevent survivors entering a "cheap" location to hold off an attack or crescendo
;Route Blocker = Items placed to force survivors to go down a longer or more dangerous route, or just to stop them taking the fastest route
;LOS Blocker = Blocks Line of Sight so the infected players have more locations to spawn from
;Exploit Blocker = Similar to Closet Blocker but this stops players going ways they really shouldn't.

filter:
{
"classname" "func_playerinfected_clip"
}
add:
{
;Exploit Blocker
"solid" "6"
"origin" "7940 4795 638"
"angles" "0 90 0"
"model" "models/props_rooftop/billboard06.mdl"
"classname" "prop_dynamic"
}
{
;Closet Blocker
"origin" "7820 4775 588"
"mins" "-10 -50 -200"
"maxs" "300 50 200"
"initialstate" "1"
"BlockType" "1"
"classname" "env_player_blocker"
}
{
;Exploit Blocker
"solid" "6"
"origin" "8140 4615 638"
"angles" "0 25 0"
"model" "models/props_rooftop/billboard03.mdl"
"classname" "prop_dynamic"
}
{
;Exploit Blocker
"solid" "6"
"origin" "8113 4450 522"
"angles" "0 0 0"
"model" "models/props_rooftop/acvent01.mdl"
"classname" "prop_dynamic"
}
{
;Closet Blocker
"origin" "8113 4450 525"
"mins" "-90 -45 -200"
"maxs" "75 45 200"
"initialstate" "1"
"BlockType" "1"
"classname" "env_player_blocker"
}
{
;Closet Blocker
"origin" "8032 4699 525"
"mins" "-25 -25 -200"
"maxs" "25 25 200"
"initialstate" "1"
"BlockType" "1"
"classname" "env_player_blocker"
}
{
;Closet Blocker
"origin" "8078 4598 642"
"mins" "-25 -100 -200"
"maxs" "25 200 200"
"initialstate" "1"
"BlockType" "1"
"classname" "env_player_blocker"
}