;ProMap CFG file
;By Ydiss
;Each Element is marked so you know what type it is
;Closet Blocker = Item to prevent survivors entering a "cheap" location to hold off an attack or crescendo
;Route Blocker = Items placed to force survivors to go down a longer or more dangerous route, or just to stop them taking the fastest route
;LOS Blocker = Blocks Line of Sight so the infected players have more locations to spawn from
;Exploit Blocker = Similar to Closet Blocker but this stops players going ways they really shouldn't.
remove:
//Remove autoshotgun and rifle from safe house
{
"hammerid" "1431945"
}
{
"hammerid" "1431949"
}
add:
{
"origin" "1949.25 4528.71 -27.7639"
"spawnflags" "2"
"solid" "6"
"skin" "0"
"disableshadows" "0"
"count" "5"
"angles" "0 70 90"
"classname" "weapon_pumpshotgun_spawn"
"hammerid" "1431945"
}
{
"origin" "1915.13 4527.04 -27.435"
"spawnflags" "2"
"solid" "6"
"skin" "0"
"disableshadows" "0"
"count" "5"
"angles" "0 110 90"
"classname" "weapon_smg_spawn"
"hammerid" "1431949"
}
{
;LOS Blocker
"solid" "6"
"origin" "1658 3430 -73"
"angles" "0 0 0"
"model" "models/props_vehicles/army_truck.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "2779 3481 -72"
"angles" "0 -35 0"
"model" "models/props_vehicles/bus01.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "2540 2906 -65"
"angles" "0 0 0"
"model" "models/props_vehicles/van_interior.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "4236 990 -160"
"angles" "0 -112 90"
"model" "models/props_wasteland/rock_moss05.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3871 43 -185"
"angles" "0 90 90"
"model" "models/props_wasteland/rock_moss04.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3225 -4887 -300"
"angles" "0 0 0"
"model" "models/props_foliage/rock_coast02c.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3362 -5086 -230"
"angles" "0 90 0"
"model" "models/props_foliage/rock_coast02g.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3499 -5260 -240"
"angles" "0 -45 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3787 -5190 -245"
"angles" "0 123 0"
"model" "models/props_foliage/rock_coast02g.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3995 -5004 -230"
"angles" "0 0 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "4222 -5260 -245"
"angles" "0 -10 0"
"model" "models/props_foliage/rock_coast02c.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "4426 -4826 -265"
"angles" "0 98 0"
"model" "models/props_foliage/rock_coast02g.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "4551 -5055 -267"
"angles" "0 90 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "4827 -5069 -232"
"angles" "0 154 0"
"model" "models/props_foliage/rock_coast02c.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "5103 -4940 -287"
"angles" "0 0 0"
"model" "models/props_foliage/rock_coast02g.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "5348 -5078 -300"
"angles" "0 90 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "2304 -4218 -170"
"angles" "0 12 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "3121 -4690 -240"
"angles" "0 10 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "1439 -4682 -175"
"angles" "0 90 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
{
;LOS Blocker
"solid" "6"
"origin" "5805 -5000 -230"
"angles" "0 90 0"
"model" "models/props_foliage/rock_coast02h.mdl"
"classname" "prop_dynamic"
}
