add:
{
        "origin" "-8223.551758 7676.391113 74.031250"
        "upgradepack_incendiary" "0"
        "upgradepack_explosive" "0"
        "spawnflags" "0"
        "laser_sight" "1"
        "classname" "upgrade_spawn"
}

{
        ;Exploit Blocker - Debris to stop plane crescendo skip
        "solid" "6"
        "origin" "-1897 2311 2"
        "angles" "-49.2902 351.315 -149.775"
        "model" "models/props_debris/airliner_wreckage6_ripped.mdl"
        "classname" "prop_dynamic"
}

filter:
{
"classname" "trigger_hurt_ghost"
}

